# Python
__pycache__/
.venv/
*.pyc

# macOS
.DS_Store

# Data files
*.csv
*.db

# Input/output directories
input/*
!input/.gitkeep
output/*
output_B/*
output_17Mar/*

!output/.gitkeep

# Example data and figures
DATA_IR-UV-Ion-Dip_Example/
DATA_FELICE_example/
Figures/

# External dependencies
AmesPAHdbPythonSuite/

# Gaussian output
Gaussian*OUTPUT/
Guassian*OUTPUT/