__pycache__/
input/*
!input/.gitkeep
output/*
!output/.gitkeep
AmesPAHdbPythonSuite/
#I add this because this python suit is connected to my code however git tracks it as a directory, so I need to ignore it
# *.png
*.csv
output/
DATA_IR-UV-Ion-Dip_Example/
DATA_FELICE_example/
Figures/
.venv/